/*main {
   display: flex;
   justify-content: center;
}*/
.columna {
   width: 1390px;
   height: 240px;
   background-color: #fff;
   /*display: flex;
   flex-direction: row;
   flex-wrap: wrap;*/
   display: flex;
   justify-content: center;
   margin: 5px;
}
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.my_select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}
.my_select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.my_select:hover::after {
   color: #23b499;
}
.Bomba {
   width: 240px;
   height: 220px;
   display: grid;
   margin: 15px;
}
.Bomba_contenedor
{
   width: auto;
   height: 240px;
   background: #23b499;
   /*margin: 4px;*/
   margin-left: 4px;
   margin-right: 4px;
   border-radius: 10px;
   display: block;
}
.Bomba button {
   margin: 2px;
   cursor: pointer;
}
.Bomba_Enable {
   display: flex;
}
.Bomba_Enable input {
   position: relative;
   left: 10px;
   top: -4px;
}