<div id="success-box">
    <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert">Éxito !</h1><p>yay, todo funciona.</p></div>
    <button class="button-box" onclick="notificationTrue()"><h1 class="green">continue</h1></button>
</div>