<link rel="stylesheet" href="./css/Style_Iluminacion.css">
<main>
    <div class="Matrix">
        <div class="led">
            <label><input type="checkbox" id="led1A"></label>
            <label><input type="checkbox" id="led1B"></label>
            <label><input type="checkbox" id="led1C"></label>
            <label><input type="checkbox" id="led1D"></label>
            <label><input type="checkbox" id="led1E"></label>
            <label><input type="checkbox" id="led1F"></label>
            <label><input type="checkbox" id="led1G"></label>
            <label><input type="checkbox" id="led1H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led2A"></label>
            <label><input type="checkbox" id="led2B"></label>
            <label><input type="checkbox" id="led2C"></label>
            <label><input type="checkbox" id="led2D"></label>
            <label><input type="checkbox" id="led2E"></label>
            <label><input type="checkbox" id="led2F"></label>
            <label><input type="checkbox" id="led2G"></label>
            <label><input type="checkbox" id="led2H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led3A"></label>
            <label><input type="checkbox" id="led3B"></label>
            <label><input type="checkbox" id="led3C"></label>
            <label><input type="checkbox" id="led3D"></label>
            <label><input type="checkbox" id="led3E"></label>
            <label><input type="checkbox" id="led3F"></label>
            <label><input type="checkbox" id="led3G"></label>
            <label><input type="checkbox" id="led3H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led4A"></label>
            <label><input type="checkbox" id="led4B"></label>
            <label><input type="checkbox" id="led4C"></label>
            <label><input type="checkbox" id="led4D"></label>
            <label><input type="checkbox" id="led4E"></label>
            <label><input type="checkbox" id="led4F"></label>
            <label><input type="checkbox" id="led4G"></label>
            <label><input type="checkbox" id="led4H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led5A"></label>
            <label><input type="checkbox" id="led5B"></label>
            <label><input type="checkbox" id="led5C"></label>
            <label><input type="checkbox" id="led5D"></label>
            <label><input type="checkbox" id="led5E"></label>
            <label><input type="checkbox" id="led5F"></label>
            <label><input type="checkbox" id="led5G"></label>
            <label><input type="checkbox" id="led5H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led6A"></label>
            <label><input type="checkbox" id="led6B"></label>
            <label><input type="checkbox" id="led6C"></label>
            <label><input type="checkbox" id="led6D"></label>
            <label><input type="checkbox" id="led6E"></label>
            <label><input type="checkbox" id="led6F"></label>
            <label><input type="checkbox" id="led6G"></label>
            <label><input type="checkbox" id="led6H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led7A"></label>
            <label><input type="checkbox" id="led7B"></label>
            <label><input type="checkbox" id="led7C"></label>
            <label><input type="checkbox" id="led7D"></label>
            <label><input type="checkbox" id="led7E"></label>
            <label><input type="checkbox" id="led7F"></label>
            <label><input type="checkbox" id="led7G"></label>
            <label><input type="checkbox" id="led7H"></label>
        </div>
        <div class="led">
            <label><input type="checkbox" id="led8A"></label>
            <label><input type="checkbox" id="led8B"></label>
            <label><input type="checkbox" id="led8C"></label>
            <label><input type="checkbox" id="led8D"></label>
            <label><input type="checkbox" id="led8E"></label>
            <label><input type="checkbox" id="led8F"></label>
            <label><input type="checkbox" id="led8G"></label>
            <label><input type="checkbox" id="led8H"></label>
        </div>
    </div>
    <div class="enviarSPI">
        <button onclick="enviarSPI()">Enviar</button>
    </div>
</main>
<script src="./script/Iluminacion.js"></script>
<script>
    window.onload = function() {
        document.getElementById("op4").classList.toggle("active");
    }
</script>